.meal-name {
  display: inline;
}

.navbar-default {
  background-color: $brand-primary;
}

.nav.navbar-nav li a {
  color: #fff !important;
}

a.navbar-brand {
  color: #fff !important;
}

.panel-heading {
  background-color: $brand-primary !important;
  color: #fff !important;
}

.nav-dropdown-text {
  color: $brand-primary;
}